* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  height: 100vh;
  background: linear-gradient(135deg, #ffdde1, #ee9ca7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: popIn 0.6s ease;
}
@keyframes popIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


h1 {
  margin-bottom: 25px;
  color: #ff4d6d;
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
}

.buttons {
  position: relative;
}

button {
  padding: 14px 30px;
  font-size: 18px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}


.yes-button {
  background: #ff4d6d;
  color: white;
  transition: 0.3s;
}

.no-button {
  background: #ddd;
  color: #333;
  position: absolute;
}
